.navbar {
    height: 100px;
    font-family: "Permanent Marker";
//  text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #ff5376;
    text-shadow: 2px 2px #f7b7df;  
    font-size: 44px;

    &:hover {
        color: #7FEFBD;
    }
}

.link-light {
    color: #ff5376;
    text-shadow: 1.5px 1.5px #f7b7df;
    font-size: 26px;
    letter-spacing: 1.5px;

    &:hover {
        color: #7FEFBD;
    }
}